page-adm-datoscliente {
    .menu ion-col{
        padding: 0 !important;
    }
    .img-slide{
        border-radius: 50%;
        width: 25px !important;
        height: 25px !important;
        display:block;
        margin:auto;

    }
    .img-alumno{
        border-radius: 50%;
        width: 95px !important;
        height: 95px !important;
        display:block;
        margin:auto;

    }

   
    .slide-zoom{
        height: 100% !important;
        text-align: left !important
    }
    .swiper-slide{
        text-align: left !important
    }
    .col{
        padding-top: 10px !important
    }
    .slide-rutinas{
        position:absolute;
        bottom:1px;
    }
    .slide-dietas{
        position:absolute;
        bottom:1px;
    }
    .nombre-perfil-alumno{
        text-align: center;
    }


}
